---
import Layout from "../layouts/Layout.astro";
---

<Layout hasSidebar={false}>
  <div
    class="flex flex-col items-center justify-center max-w-2xl mx-auto h-dvh"
  >
    <div>
      <h1 class="mb-2 text-3xl font-bold tracking-tight">
        [404] this page doesn't seem to exist...
      </h1>
      <p class="text-zinc-600">
        Click <a href="/" class="text-sky-700">this</a> link to go back to the homepage
        which <em>should</em> hopefully exist 🤞.
      </p>
    </div>
  </div>
</Layout>
