---
import BookmarkSection from "../components/BookmarkSection.astro";
import Layout from "../layouts/Layout.astro";

// const url = Astro.url + "src/data/bookmarks.json";
// const bookmarks = await fetch(url).then((res) => res.json());
---

<Layout includeSidebar={true}>
  <BookmarkSection server:defer>
    <div slot="fallback">
      <p>Loading bookmarks...</p>
    </div>
  </BookmarkSection>
</Layout>
