---
import BookmarkList from "../components/BookmarkList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout hasSidebar={true}>
  <BookmarkList server:defer>
    <div slot="fallback" class="h-dvh grid place-items-center">
      <p>Loading bookmarks...</p>
    </div>
  </BookmarkList>
</Layout>
