---
export const prerender = false;
import BookmarkList from "../components/BookmarkList.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout>
  <BookmarkList server:defer>
    <div slot="fallback" class="h-dvh grid place-items-center">
      <p>Loading bookmarks...</p>
    </div>
  </BookmarkList>
</HomeLayout>
