---
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout includeSidebar={true}>
  <section class="flex flex-col justify-center w-full h-full gap-2 px-6">
    <h1 class="font-serif text-2xl tracking-tight">
      here's some projects I worked on...
    </h1>
    <div class="flex flex-col gap-2">
      <Project
        name="qubit"
        description="interpretive language to interact with my site's agents."
        link="https://cmkt.dev"
      />
      <Project
        name="project tracker"
        description="tracks and motivates devs to finish their hobby projects."
        link="https://cmkt.dev"
      />
      <Project
        name="lost n' found"
        description="web app for logging lost / found items - vital to my existence."
        link="https://cmkt.dev"
      />
      <Project
        name="personal website"
        description="a website created for my various web toys and my portfolio."
        link="https://cmkt.dev"
      />
      <Project
        name="microbial analysis lab"
        description="a virtual lab to walk student's through microbial analysis."
      />
      <Project
        name="nursing simulator"
        description="a virtual reality three-person nursing simulator to train students."
      />
      <Project
        name="virtual microscope"
        description="taught students how to use a microscope via a virtual lab."
      />
    </div>
  </section>
</Layout>
