---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="px-4 lg:px-0">
    <h1
      class="text-3xl lg:text-5xl lg:px-0 font-serif tracking-tight leading-loose lg:leading-relaxed"
    >
      my sandbox...
    </h1>
    <p class="text-sm lg:text-base font-sans text-zinc-700">
      a collection of web toys, games, and interactive programs
    </p>
  </div>
</Layout>
