---
import Layout from "../layouts/Layout.astro";
import sandboxImage from "../assets/sandbox.png";
import { Image } from "astro:assets";
---

<Layout>
  <div class="px-4 lg:px-0">
    <header>
      <h1
        class="text-3xl lg:text-5xl lg:px-0 font-serif tracking-tight leading-loose lg:leading-relaxed"
      >
        my sandbox...
      </h1>
      <p class="text-sm lg:text-base font-sans text-zinc-700">
        a collection of web toys, games, and interactive programs
      </p>
    </header>
    <section class="empty">
      <Image
        src={sandboxImage}
        alt="An empty sandbox graphic."
        class="opacity-35 mb-6 max-w-sm md:max-w-lg md:mb-4"
        loading={"eager"}
      />
      <p class="text-zinc-500 w-68 mx-auto">
        Sorrrrry, I'm still currently cooking up some things to put up on this
        page.
      </p>
    </section>
  </div>
</Layout>

<style>
  .empty {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
