<div
  class="diagonal-border border-t border-b md:border-l md:border-r h-6 w-full lg:w-6 lg:h-full border-[#ccc] row-start-3 lg:row-span-3 lg:row-start-1 lg:col-start-2"
>
</div>

<style>
  .diagonal-border {
    background: repeating-linear-gradient(
      30deg,
      transparent 0px,
      transparent 10px,
      #ccc 10px,
      #ccc 11px
    );

    background-origin: border-box;
    background-clip: border-box;
  }
</style>
