<div
  class="diagonal-border border-t border-b md:border-l md:border-r border-[#ccc] md:row-span-2"
>
</div>

<style>
  .diagonal-border {
    background: repeating-linear-gradient(
      30deg,
      transparent 0px,
      transparent 10px,
      #ccc 10px,
      #ccc 11px
    );

    background-origin: border-box;
    background-clip: border-box;
  }
</style>
