<footer class="flex items-center justify-between w-full p-4 lg:px-0 lg:py-6">
  <p class="text-sm opacity-50 w-52 sm:w-full lg:text-base">
    Made by Christopher Trumpet with <em
      ><a target="_blank" href="https://astro.build/" class="hover:underline"
        >Astro</a
      >
    </em>&#x2764;
    <ul class="flex gap-4 text-zinc-700">
      <li class="hover:text-zinc-500">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/christophertrumpet/"
          aria-label="Open LinkedIn Website"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.25"
            >
              <path d="M8 11v5m0-8v.01M12 16v-5m4 5v-3a2 2 0 1 0-4 0"></path>
              <path
                d="M3 7a4 4 0 0 1 4-4h10a4 4 0 0 1 4 4v10a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4z"
              ></path>
            </g>
          </svg></a
        >
      </li>
      <li class="hover:text-zinc-500">
        <a
          target="_blank"
          href="https://github.com/ChristopherTrumpet"
          aria-label="Open GitHub Website"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.25"
              d="M9 19c-4.3 1.4-4.3-2.5-6-3m12 5v-3.5c0-1 .1-1.4-.5-2c2.8-.3 5.5-1.4 5.5-6a4.6 4.6 0 0 0-1.3-3.2a4.2 4.2 0 0 0-.1-3.2s-1.1-.3-3.5 1.3a12.3 12.3 0 0 0-6.2 0C6.5 2.8 5.4 3.1 5.4 3.1a4.2 4.2 0 0 0-.1 3.2A4.6 4.6 0 0 0 4 9.5c0 4.6 2.7 5.7 5.5 6c-.6.6-.6 1.2-.5 2V21"
            ></path>
          </svg></a
        >
      </li>
      <li class="hover:text-zinc-500">
        <a
          href="mailto:christopher.m.t.2005@gmail.com?subject=Inquiry%20from%20cmkt.dev"
          aria-label="Open Email Client"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.25"
            >
              <path
                d="M3 7a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
              ></path>
              <path d="m3 7l9 6l9-6"></path>
            </g>
          </svg></a
        >
      </li>
    </ul>
  </p>
</footer>
