---
import Weather from "./Weather.astro";
---

<header class="flex justify-between w-full p-6">
  <div class="flex items-center gap-4">
    <Weather server:defer>
      <div slot="fallback">Loading weather...</div>
    </Weather>
  </div>
  <a
    href="/Christopher_Trumpet.pdf"
    class="items-center justify-center px-6 py-2 text-sm font-semibold tracking-tight transition-all bg-transparent border rounded-full text-zinc-800 border-zinc-800 hover:bg-zinc-800 hover:text-white"
    >View Resumé</a
  >
</header>
