---
import Weather from "./Weather.astro";
---

<header
  class="flex justify-between w-full max-w-2xl col-start-1 row-start-1 px-6 pt-6 mx-auto"
>
  <div class="flex items-center gap-4">
    <Weather server:defer>
      <div slot="fallback">Loading weather...</div>
    </Weather>
  </div>
  <a
    href="/Christopher_Trumpet.pdf"
    class="px-6 py-2 bg-transparent text-zinc-800 items-center justify-center rounded-full border border-zinc-800 tracking-tight font-semibold text-sm hover:bg-zinc-800 hover:text-white transition-all"
    >View Resumé</a
  >
</header>
