---
const { href, disabled } = Astro.props;
const { pathname } = Astro.url;

const isActive = href === "/" ? pathname === href : pathname.startsWith(href);

const hoveredClasses =
  "hover:translate-y-0.5 hover:after:bg-white hover:before:translate-y-0.5";
const activeClasses = "after:bg-white translate-y-1 before:translate-y-0";
const disabledClasses = "opacity-25 pointer-events-none cursor-not-allowed";
---

<a
  href={href}
  aria-disabled={disabled}
  aria-describedby={disabled &&
    "This link is disabled as the page it links to is not fully developed yet"}
  draggable="false"
  data-nav-link
  data-active-class={activeClasses}
  data-hover-class={hoveredClasses}
  class:list={[
    // Base
    "relative z-0 flex items-center justify-center gap-2 rounded-full border border-transparent py-2 text-center leading-none capitalize transition-all cursor-pointer md:px-5 md:py-2",
    // Foreground
    "after:absolute after:-inset-px after:-z-1 after:rounded-full after:border after:border-zinc-800 after:bg-[#eee] after:transition-all",
    // Shadow
    "before:absolute before:-inset-px before:-z-2 before:rounded-full before:bg-zinc-800 before:transition-all before:translate-y-1",
    // Active
    "active:translate-y-1 active:before:translate-y-0",
    isActive ? activeClasses : hoveredClasses,
    disabled && disabledClasses,
  ]}
>
  <slot />
</a>

<script>
  document.addEventListener("astro:page-load", () => {
    const links = document.querySelectorAll("a[data-nav-link]");
    const currentPath = window.location.pathname;

    links.forEach((link) => {
      if (!(link instanceof HTMLElement)) return;

      const href = link.getAttribute("href");
      const activeClasses = link.dataset.activeClass?.split(" ") || [];
      const hoverClasses = link.dataset.hoverClass?.split(" ") || [];

      const isActive =
        href &&
        (href === "/" ? currentPath === href : currentPath.startsWith(href));

      if (isActive) {
        link.classList.add(...activeClasses);
        link.classList.remove(...hoverClasses);
      } else {
        link.classList.remove(...activeClasses);
        link.classList.add(...hoverClasses);
      }
    });
  });
</script>
