---
import HeroNavigation from "./HeroNavigation.astro";

const hireInquiry =
  "mailto:christopher.m.t.2005@gmail.com?subject=[Job%20Inquiry]%20<insert%20subject>";

const forHire = true;
---

<section
  class="absolute w-full px-4 top-[47.5%] left-[50%] translate-[-50%] flex flex-col gap-4 mx-auto mt-12"
>
  {
    forHire && (
      <a
        href={hireInquiry}
        class="inline-block font-bold tracking-tight w-fit hover:underline"
      >
        Currently for hire
      </a>
    )
  }
  <h1 class="text-5xl">
    <a href="/" class="font-serif tracking-tight"> Christopher Trumpet Jr. </a>
    <button
      id="play-btn"
      class="inline-block transition-all cursor-pointer hover:scale-110"
    >
      🎺
    </button>
  </h1>
  <p class="text-zinc-600">
    I'm a software developer dedicated to writing effective, impactful solutions
    which serve to improve the lives of the people who use them both directly or
    indirectly.
  </p>
  <HeroNavigation />
</section>

<script>
  let rawAudioData: ArrayBuffer | null = null;
  let audioBuffer: AudioBuffer | null = null;
  let audioCtx: AudioContext | null = null;

  const SFX_URL = "/trumpet-sfx.mp3";

  async function preloadFile() {
    try {
      const response = await fetch(SFX_URL);
      rawAudioData = await response.arrayBuffer();
    } catch (err) {
      console.error("Failed to download audio file:", err);
    }
  }

  async function handlePlayClick() {
    if (!rawAudioData) return;

    if (!audioCtx) {
      audioCtx = new (window.AudioContext || window.AudioContext)();
    }

    if (!audioBuffer) {
      audioBuffer = await audioCtx.decodeAudioData(rawAudioData);
    }

    if (audioCtx.state === "suspended") {
      await audioCtx.resume();
    }

    const source = audioCtx.createBufferSource();
    const gainNode = audioCtx.createGain();

    source.buffer = audioBuffer;

    const pitchRange = 0.075;
    const volumeRange = 0.1;
    source.playbackRate.value = 1.0 + (Math.random() * 2 - 1) * pitchRange;
    gainNode.gain.value = 1.0 - Math.random() * volumeRange;

    source.connect(gainNode);
    gainNode.connect(audioCtx.destination);
    source.start(0);
  }

  preloadFile();

  document
    .getElementById("play-btn")
    ?.addEventListener("click", handlePlayClick);
</script>
