<nav class="flex justify-between py-8">
  <h2 class="text-lg font-serif tracking-tight">
    <a href="/">Christopher Trumpet Jr. 🎺</a>
  </h2>
  <ul class="flex gap-6">
    <li><a href="/projects">projects</a></li>
    <li><a href="/media">media</a></li>
    <li class="pointer-events-none opacity-25">
      <a tabindex="-1" href="/sandbox">sandbox</a>
    </li>
    <li class="pointer-events-none opacity-25">
      <a tabindex="-1" href="/blog">blog</a>
    </li>
  </ul>
</nav>
