---
import NavigationButton from "./NavigationButton.astro";
---

<nav class="navigation">
  <ul class="flex flex-col gap-4 pt-2 lg:flex-row md:pt-0 sm:flex-wrap">
    <NavigationButton href="#" disabled="true">
      <!-- <Icon name="tabler:message-circle" size={24} /> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.25"
          d="m3 20l1.3-3.9C1.976 12.663 2.874 8.228 6.4 5.726c3.526-2.501 8.59-2.296 11.845.48c3.255 2.777 3.695 7.266 1.029 10.501S11.659 20.922 7.7 19z"
        ></path>
      </svg>
      chat
    </NavigationButton>
    <NavigationButton href="/projects">
      <!-- <Icon name="tabler:cards" size={24} /> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.25"
          d="m3.604 7.197l7.138-3.109a.96.96 0 0 1 1.27.527l4.924 11.902a1 1 0 0 1-.514 1.304L9.285 20.93a.96.96 0 0 1-1.271-.527L3.09 8.5a1 1 0 0 1 .514-1.304zM15 4h1a1 1 0 0 1 1 1v3.5M20 6q.396.168.768.315a1 1 0 0 1 .53 1.311L19 13"
        ></path>
      </svg>
      projects
    </NavigationButton>
    <NavigationButton href="/archive" disabled="true">
      <!-- <Icon name="tabler:camera" size={24} /> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <g
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.25"
        >
          <path
            d="M5 7h1a2 2 0 0 0 2-2a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2"
          ></path>
          <path d="M9 13a3 3 0 1 0 6 0a3 3 0 0 0-6 0"></path>
        </g>
      </svg>
      archive
    </NavigationButton>
    <NavigationButton href="/cooking" disabled="true">
      <!-- <Icon name="tabler:chef-hat" size={24} /> -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.25"
          d="M12 3c1.918 0 3.52 1.35 3.91 3.151A4 4 0 0 1 18 13.874V21H6v-7.126a4 4 0 1 1 2.092-7.723A4 4 0 0 1 12 3M6.161 17.009L18 17"
        ></path>
      </svg>
      cooking
    </NavigationButton>
  </ul>
</nav>
