---
const { href, disabled } = Astro.props;

const { pathname } = Astro.url;

const isActive = href === "/" ? pathname === href : pathname.startsWith(href);
const hoveredClasses =
  "hover:translate-y-0.5 hover:shadow-[0_2px_0_0] hover:bg-white";
const activeClasses = "bg-white translate-y-1 shadow-none";
---

<li class="flex-1 inline-block">
  <a
    href={href}
    draggable="false"
    class:list={[
      "rounded-full flex items-center justify-center gap-2 py-3 px-5 md:py-1.5 leading-none capitalize text-center cursor-pointer border-zinc-700 shadow-zinc-700 border shadow-[0_4px_0_0] active:translate-y-1 active:shadow-none transition-all",
      isActive ? activeClasses : hoveredClasses,
      { disabled: disabled },
    ]}><slot /></a
  >
</li>

<style>
  .disabled {
    opacity: 0.25;
    pointer-events: none;
  }
</style>
