---
import Navigation from "./Navigation.astro";
---

<section class="py-12 my-24 md:py-4 md:my-8">
  <div class="mb-6">
    <audio src="/trumpet-sfx.mp3" id="trumpet-sfx"></audio>
    <h1 class="mb-4 text-3xl font-bold tracking-tight lowercase md:text-4xl">
      Christopher Trumpet Jr. <button id="play-btn" class="cursor-pointer"
        >🎺</button
      >
    </h1>
    <p class="text-zinc-500">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur magnam
      itaque nihil id quos, ipsa eius officia a vel nam aut maxime harum.
      Corrupti dolor et quod asperiores sequi optio.
    </p>
  </div>
  <Navigation />
</section>

<script>
  const trumpetSfx = document.querySelector("#trumpet-sfx") as HTMLAudioElement;
  const button = document.querySelector("#play-btn") as HTMLButtonElement;

  function play() {
    if (trumpetSfx) {
      trumpetSfx.load();
      trumpetSfx.play();
    }
  }

  if (button) {
    button.addEventListener("click", play);
  }
</script>
