---
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import Hero from "./Hero.astro";

interface Props {
  classList?: string;
}

const { classList } = Astro.props;
---

<aside class:list={[classList, "flex flex-col justify-between"]}>
  <Header />
  <Hero />
  <div class="hidden lg:block">
    <Footer />
  </div>
</aside>
