---
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import Hero from "./Hero.astro";

interface Props {
  classList?: string;
}

const { classList } = Astro.props;
---

<aside
  class:list={[
    classList,
    "relative flex flex-col container max-w-2xl mx-auto h-[95dvh] lg:h-dvh px-4 lg:justify-between",
  ]}
>
  <Header />
  <Hero />
  <div class="hidden lg:block">
    <Footer />
  </div>
</aside>
