---
import Chat from "../components/Chat";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta name="theme-color" content="#eee" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body class="container mx-auto max-w-3xl h-dvh">
    <Navbar />
    <main class="h-full blog">
      <slot />
    </main>
    <Chat client:load />
  </body>
  <div id="grainy"></div>
  <style>
    .blog :global(h1) {
      font-family: var(--font-serif);
      font-size: var(--text-5xl);
      margin-top: 8rem;
    }

    .blog :global(p) {
      font-family: var(--font-sans);
      font-size: var(--text-base);
    }
  </style>
</html>
