---
import Chat from "../components/Chat";
import Footer from "../components/Footer.astro";
import GrainyBackground from "../components/GrainyBackground.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta name="theme-color" content="#eee" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <div class="container flex flex-col max-w-2xl mx-auto h-dvh lg:px-0">
      <Navbar />
      <main
        class="flex flex-col items-center justify-between px-4 antialiased blog grow lg:px-0"
      >
        <div>
          <h1>{frontmatter.title}</h1>
          <hr class="mb-6 border-zinc-300" />
          <slot />
        </div>
        <a
          href="/blog"
          aria-label="Thank you for reading, return to blog archive"
          class="my-16 text-base text-center opacity-50 w-fit hover:opacity-100"
        >
          Thanks for reading...✌️
        </a>
      </main>
      <Footer />
    </div>
    <Chat client:load />
    <GrainyBackground />
  </body>
  <style>
    .blog :global(h1) {
      font-family: var(--font-sans);
      font-size: var(--text-3xl);
      font-weight: var(--font-weight-bold);
      letter-spacing: var(--tracking-tight);
      line-height: var(--leading-tight);
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }

    @media (width >= 64rem) {
      .blog :global(h1) {
        font-size: var(--text-4xl);
        margin-top: 6rem;
      }
    }

    .blog :global(p) {
      font-family: var(--font-sans);
      font-size: var(--text-base);
      color: var(--color-zinc-700);
      line-height: var(--leading-normal);
    }

    .blog :global(h2) {
      font-family: var(--font-serif);
      font-size: var(--text-2xl);
      letter-spacing: var(--tracking-tight);
      margin: 1.5rem 0 1rem 0;
      padding-bottom: 0.5rem;
      border-bottom: solid 1px var(--color-zinc-300);
    }

    .blog :global(ul) {
      list-style-type: circle;
      padding-left: 1rem;
    }
  </style>
</html>
