---
import Chat from "../components/Chat";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

interface Props {
  title?: string;
  classList?: string;
}

const { title = "Christopher Trumpet", classList } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta name="theme-color" content="#eee" />
    <meta
      name="description"
      content="Personal website for Christopher Trumpet Jr. The site contains my portfolio, web toys, media archive, blogs, and cooking logs."
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Christopher Trumpet's personal website. I store my web toys, post some blogs sometimes, and show off some kitchen atrocities."
    />
    <title>{title}</title>
  </head>
  <body class="h-dvh">
    <div
      class:list={[
        "container mx-auto max-w-8xl h-full flex flex-col",
        classList,
      ]}
    >
      <Navbar />
      <main class="grow">
        <slot />
      </main>
      <Footer />
    </div>
    <Chat client:load />
  </body>
  <div id="grainy"></div>
</html>
