---
import Divider from "../components/Divider.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import "../styles/global.css";

interface Props {
  includeSidebar: boolean;
}

const {includeSidebar} = Astro.props;

const baseClasses = "min-h-dvh text-zinc-800 bg-[#eee]"

const layoutClasses = includeSidebar
? "grid grid-cols-1 lg:grid-cols-[1fr_auto_1fr] grid-rows-[auto_1fr_auto] lg:h-dvh lg:overflow-hidden"
  : "block h-auto overflow-y-auto";

const widthLimit = includeSidebar ? "max-w-2xl mx-auto w-full" : "max-w-4xl mx-auto w-full px-6";
---

<!doctype html>
<html lang="en" class="bg-[#eee]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Christopher Trumpet</title>
  </head>
  <body>
    <div class:list={[baseClasses, layoutClasses]}>
      {includeSidebar && <Header/>}

      {includeSidebar && (
        <aside class="flex flex-col items-center justify-center h-auto max-w-2xl col-start-1 row-start-2 px-6 mx-auto lg:h-full">
          <Sidebar />
        </aside>
        <Divider />
      )}
      
      <main class:list={[includeSidebar && "min-h-[calc(100vh-4.5rem)] lg:col-start-3 lg:row-start-1 lg:row-span-3 lg:overflow-y-auto",widthLimit]}>
        <slot />
      </main>

      {includeSidebar && <Footer />}
    </div>
    <div id="grain-overlay" aria-hidden="true"></div>
  </body>
</html>

<style>

  #grain-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background: url("../assets/grain.gif");
    opacity: 0.06;
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 999;
  }
</style>
